fastapi
uvicorn
sqlalchemy
python-dotenv
bcrypt==3.2.2
passlib[bcrypt]==1.7.4
python-jose
alembic
pydantic
python-jose[cryptography]
python-dotenv
pydantic-settings
celery
redis
paho-mqtt
psycopg2-binary