fastapi==0.115.4
uvicorn[standard]==0.32.0
sqlalchemy==2.0.36
pydantic==2.9.2
pydantic-settings==2.6.1
python-dotenv==1.0.1
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
bcrypt==3.2.2
alembic==1.13.3
celery==5.4.0
redis==5.2.0
paho-mqtt==2.1.0
psycopg2-binary==2.9.10
cryptography==43.0.3
